<h1 class='header'>Welcome Admin</h1>

<div>
  <br>
  <%= link_to "Salespeople/Assistants", admin_users_path %><br>
  <br>
  <br>
</div>
<div>
  show an index of all the sales for the current month
</div>
<div>
  show some aggregate data for the sales board
</div>
