<h1 class='header'>Welcome Admin</h1>

<div>
  <br>
  <br>
  <br>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <div class="row">
          <div class='col-md-4'>
          </div>
          <div class='col-md-4 text-center'>
            <h3><%= link_to "Salespeople/Assistants", admin_users_path %><br></h3>
          </div>
          <div class='col-md-4'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  show some aggregate data for the sales board
</div>
<div>
  show an index of all the sales for the current month
</div>
