<li>
*******DELETE THIS.... just using this to log in*****
Sales person Selina Pfannerstill
Assisstant  Tristian Kassulke  Rosie Goodwin id: 5
</li>
Welcome Sales Person please login

<%= form_for :user do |f| %>
<%= f.text_field :name, placeholder: "User Name", autofocus: true %>
<%= f.password_field :password, placeholder: "Password" %>
<%= f.submit "Login" %>
<% end %>
