<div>
  <% if logged_in? %>
  <%= link_to "Log out", logout_path, method: "delete" %>
  <% elsif logged_out? %>
  <h1 class='header'>Welcome to the Sales Board</h1>
  <h4 class= 'text-center'>Please <%= link_to "log in", url: '/' %></h4>
  <% end %>
</div>
